body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f6f6f6;
    font-family: Arial, sans-serif;
}

.register-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.register-container h2 {
    color: #ff7272;
    margin-bottom: 20px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social-buttons img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.divider {
    color: #aaa;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #888;
    margin-bottom: 5px;
    width: 117px;
    height:13px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.radio-group{
    display: flex;
    align-items: center;
    gap: 5px;
    }
.form-group input[type="radio"] {
    margin-right: 5px;
}

.form-group .checkbox-group {
    display: flex;
    align-items: center;
}

.form-group .checkbox-group input {
    margin-right: 10px;
}

.form-group .checkbox-group label {
    margin: 0;
}

.submit-button {
    background-color: #ff7272;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #e60000;
}