.overview-container {
    display: flex;
}

.side-bar {
    flex: 1;
}

.overview-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Khoảng cách giữa các phần tử trong overview-content */
}

.task-container {
    display: flex;
    gap: 20px;
    /* Khoảng cách giữa TaskList và TaskDiagram */
}

.task-list {
    flex: 1;
    margin-left: 0;
    padding-left: 0;
}

.task-diagram {
    flex: 2;
    margin-left: 0;
    padding-left: 0;
}