.teach-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* Ensure the container takes full height */
}

.side-bar {
    width: 250px;
    /* Set a fixed width for the sidebar */
    background-color: #333;
    /* Example background color */
    color: #fff;
    /* Example text color */
}

.main-content {
    flex-grow: 1;
    /* Allow main content to take up remaining space */
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    /* Ensure header takes full width */
    background-color: #f9f9f9;
    /* Example background color */
    padding: 10px 20px;
    /* Example padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Example shadow */
}

.overview-heading {
    margin: 10px 0;
}

.notification-bar-wrapper {
    margin-top: 0px;
}

.graph-wrapper {
    margin-top: 20px;
}

.task-container {
    display: flex;
    gap: 20px;
    /* Space between TaskList and TaskDiagram */
}

.task-list {
    flex: 1;
    margin-left: 0;
    padding-left: 0;
}

.task-diagram {
    flex: 2;
    margin-left: 0;
    padding-left: 0;
}

.teach-kpi {
    margin-bottom: 50px;
}