.upload-container{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 258px;
}
.upload-label{
    text-align: left;
    color: var(--gray-02);
    font-size: var(--header-22-32-font-size);
    letter-spacing: var(--header-22-32-letter-spacing);
    line-height: var(--header-22-32-line-height);
    font-style: var(--header-22-32-font-style);
    font-family: var(--header-22-32-font-family);
    font-weight: var(--header-22-32-font-weight);
}

.file-upload-content {
    background-color: white;
    padding: 20.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 650px;
    height: 258px;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 0em 0em 1em 0em;
}

.preview-image {
    width: 300px; /* Đặt chiều rộng cố định */
    height: 300px; /* Đặt chiều cao cố định */
    object-fit: cover; /* Đảm bảo ảnh lấp đầy container mà không bị méo */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

input {
  display: block;
  margin-bottom: 16px;
}
 
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 
button:hover {
  background-color: #45a049;
}