.overview-container{
    display: flex;
    
}

.titles{
    color: #000;
    font-family: "Inter-Bold";
    font-size: 34px;
}

.content-doc{
    display: block;
}

.ngang{
    display: flex;
    flex-direction: row; /* Sắp xếp các phần tử theo hàng ngang */
    justify-content: space-between; /* Khoảng cách đều giữa các phần tử */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    gap: 50px; /* Khoảng cách giữa các phần tử, tùy chỉnh theo nhu cầu */
    margin-top: 20px;
    margin-bottom: 40px;
}