.overview-container{
    display: flex;
    
}

.research-heading {
    margin: 10px 0;
}

.content-doc{
    display: block;
}

.research-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.research-graph {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ngang{
    display: flex;
    flex-direction: row; /* Sắp xếp các phần tử theo hàng ngang */
    justify-content: space-between; /* Khoảng cách đều giữa các phần tử */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    gap: 50px; /* Khoảng cách giữa các phần tử, tùy chỉnh theo nhu cầu */
    margin-top: 20px;
    margin-bottom: 40px;
}