.chart-container {
    max-width: 650px;
    height: 258px;
    margin: auto;
    /* padding: 10px; */
    /* background-color: #fff; */
    border-radius: 8px;
    gap: 8px;

}

.chart-title {
    text-align: left;
    /* margin-bottom: 5px; */
    color: var(--gray-02);
    font-size: var(--header-22-32-font-size);
    letter-spacing: var(--header-22-32-letter-spacing);
    line-height: var(--header-22-32-line-height);
    font-style: var(--header-22-32-font-style);
    font-family: var(--header-22-32-font-family);
    font-weight: var(--header-22-32-font-weight);
}

.controls {
    margin-top: 5px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    width: 650px;
    border-radius: 8px;
    box-shadow: 0em 0em 1em 0em;
}

.controls label {
    display: flex;
    align-items: center;
}

.chart-wrapper {
    position: relative;
    height: 200px; /* Adjust as needed */
    width: 600px;  /* Adjust as needed */
    margin: 0 auto;
}


