body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.graphs-container {
  display: flex;
  /* overflow-x: auto;
  scroll-snap-type: x mandatory; */
  gap: 20px;
  padding: 20px;
  justify-content: space-around;  /* Add space around items */
  /* width: 100%; */
}

.teach-box, .research-box, .serve-box {
  margin: 25px;
  flex: 0 0 27%; 
  height: 160px;
  background: #f8f8f8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  scroll-snap-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

.teach-box:hover, .research-box:hover, .serve-box:hover {
  transform: scale(1.05);
}

.teach-graph-image, .research-graph-image, .serve-graph-image {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.teach-box  {
  background: linear-gradient(to right, #ffffff, #FF9C9C);
}

.research-box {
  background: linear-gradient(to right, #ffffff, #01BCF4);
}

.serve-box {
  background: linear-gradient(to right, #ffffff, #FFC042);
}

.teach-box .content, .research-box .content, .serve-box .content {
  padding: 10px;
  text-align: center;
  background-color: inherit; /* Ensure it inherits the background color */
}


.content h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.content p {
  margin: 5px 0 0;
  color: #777;
}

.teach-content {
  background: linear-gradient(to right, #ffffff, #FF9C9C);
}

.research-content {
  background: linear-gradient(to right, #ffffff, #01BCF4);
}

.serve-content {
  background: linear-gradient(to right, #ffffff, #FFC042);
}

@media (max-width: 768px) {
  .graphs-container {
    float: left;
    flex-direction: column;
  }

  /* .mobile-graphs-container {
    display: flex;
    flex-direction: column;
  } */

  .selector {
    border-radius: 10px;
    cursor: pointer;
  }

  .teach-box {
    flex: 0 0 100%;
    width: 120%;
    margin-top: 15%;
    margin-left: 20%;
  }

  .research-box {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 15%;
    margin-left: 18%;
  }

  .serve-box {
    flex: 0 0 100%;
    width: 125%;
    margin-top: 15%;
    margin-left: 30%;
  }
}
