.goals {
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Prevent shrinking */
  width: 30%;
  max-width: 371px;
  min-width: 360px;
  box-sizing: border-box;
}

.goals2 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Prevent shrinking */
  width: 30%;
  max-width: 371px;
  box-sizing: border-box;
}

.goals .text-wrapper {
  color: rgba(135, 135, 135, 1);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.goals .content-goal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0em 0em 1em 0em;
  box-sizing: border-box;
}

.goals .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(243, 243, 243, 1);
  gap:1rem;
}

.goals .frame {
  display: flex;
  align-items: center;
}

.goals .theo-tuan {
  min-height: 66px;
  color: rgba(82, 82, 86, 1);
  font-family: "Inter-Bold", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.goals .k {
  font-family:  sans-serif;
  font-weight: 500;
  color: rgba(82, 82, 86, 1);
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.goals .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.goals .left-content {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.goals .div-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.goals .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.goals .div {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: rgba(135, 135, 135, 1);
  font-size: 12px;
  line-height: 16px;
}

.goals .element-gi {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: rgba(25, 25, 25, 1);
  font-size: 16px;
  line-height: 24px;
}

.goals .target-vs {
  display: flex;
  align-items: center;
  justify-content: center;
}