.statistics-details,
.statistics-details * {
    box-sizing: border-box;
}

.statistics-details {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 24px 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.1);
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.frame-40384 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.s-gi-gi-ng-d-y-trong-tu-n {
    color: #191919;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    position: relative;
    width: auto;
}

.time-selector {
    padding: 4px 8px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    cursor: pointer;
}

.indicator {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}

.this-week {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.rectangle-69 {
    background: #ff698d;
    border-radius: 2px;
    flex-shrink: 0;
    width: 16px;
    height: 8px;
    position: relative;
}

.tu-n-n-y {
    color: #525256;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
}

.last-week {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.rectangle-692 {
    background: #e8e8e8;
    border-radius: 2px;
    flex-shrink: 0;
    width: 16px;
    height: 8px;
    position: relative;
}

.tu-n-tr-c {
    color: #525256;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
}

.indicator2 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 52px;
    height: 16px;
    position: relative;
}

.graph {
    width: 100%;
    height: 300px;
    /* Adjust the height as needed */
}

@media screen and (max-width: 500px) {
    .statistics-details {
        width: 350px;
        padding: 16px 10px 20px 10px;
    }

    .header {
        width: 100%;
        flex-direction: column;
    }

    .frame-40384 {
        width: 100%;
        justify-content: space-between;
    }

    .graph {
        width: 100%;
        height: 300px;
        /* Adjust the height as needed */
    }
}