.detail-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    height: auto;
    box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
}

.detail-title {
    color: var(--gray-02, #878787);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.detail-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bills {
    border-bottom: 5px solid var(--gray-06, #f3f3f3);
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.detailss {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.dates {
    background: rgba(210, 210, 210, 0.25);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80px;
}

.semester {
    color: rgba(25, 25, 25, 0.7);
    text-align: center;
    font-family: "Inter-ExtraBold", sans-serif;
    line-height: 2rem;
    font-weight: 800;
}

.subscription-names {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.tenbaibao {
    color: var(--secondary, #525256);
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 600;
   
}

.ketthucs {
    color: var(--gray-03, #9f9f9f);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    width: 100%;
}

.amounts {
    background: var(--white, #ffffff);
    border-radius: 8px;
    border: 3px solid var(--gray-05, #e8e8e8);
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    width: 10%;
}

.trangthai {
    color: var(--secondary, #d448e779);
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    width: 100%;
}

.view-all-button {
    background-color:white;
    color:rgba(255, 99, 104, 0.5);
    border-radius: 4px;
    cursor: pointer;   
    margin-top: 10px;
    align-self: center;
    border: 2px solid white;
    /* width: 8rem; */
}

.view-all-button:hover {
    background-color: white;
}