/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ff7272;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: #ff7272;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo h1 {
    margin-left: 10px;
    color: #000;
    font-size: 24px;
}

h2 {
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    background-color: #e60000;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #cc0000;
}