.register {
    background: #fff;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    background-image: url('../../img/logo2.png');
    background-size: contain;
    /* background-color: #ff005c; */
    width: 200px;
    height: 200px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label {
    color: #191d23;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.input-box {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    font-size: 16px;
    color: #4b5768;
    box-sizing: border-box;
}

.password-input {
    display: flex;
    align-items: center;
    position: relative;
}

.password-input .icons-eye {
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.terms {
    font-size: 12px;
    color: #999da3;
    margin-bottom: 24px;
}

.terms a {
    color: #ff698d;
    text-decoration: none;
}

.button-primary {
    background: #ff698d;
    border: none;
    border-radius: 8px;
    padding: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

.divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
}

.line-10 {
    width: 100%;
    height: 1px;
    background: #d0d5dd;
    opacity: 0.5;
    margin-bottom: 8px;
}

.sign-in-with {
    color: #999da3;
    font-size: 14px;
}

.button-secondary {
    background: #e4e7eb;
    border: none;
    border-radius: 8px;
    padding: 16px;
    color: #4b5768;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.google-logo {
    background-image: url('../../img/google.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.button-secondary p {
    justify-self: center;
    margin: 0;

}

.google {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.login-link {
    margin-top: 24px;
    font-size: 14px;
}

.login-link a {
    color: #ff698d;
    text-decoration: none;
}