.contents {
    background: var(--white, #ffffff);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.1),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    margin: auto;
    float: left;
    margin-left: 20px;
}

.view-all {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 100%;
}

.thoi-gian-day-du-kien {
    color: var(--gray-02, #878787);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    flex-grow: 1;
}

.chevron-right {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
}

.bill {
    border-bottom: 1px solid var(--gray-06, #f3f3f3);
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.date {
    background: rgba(210, 210, 210, 0.25);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80px;
}

.ux-ui,
.itss {
    color: rgba(25, 25, 25, 0.7);
    text-align: center;
    font-family: "Inter-ExtraBold", sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 800;
}

.subscription-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.diadiem {
    color: var(--secondary, #525256);
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.ketthuc {
    color: var(--gray-03, #9f9f9f);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.amount {
    background: var(--white, #ffffff);
    border-radius: 8px;
    border: 1px solid var(--gray-05, #e8e8e8);
    padding: 8px 12px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.time {
    color: var(--secondary, #525256);
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}