html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.mycomponent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #ffe9f1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 750px;
}

.header-nav {
    background-color: #FFE9F1;
}

.header-nav nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80px;
    flex-wrap: wrap;
}

.header-nav nav ul li {
    margin: 0 10px;
}

.header-nav nav ul li.logo {
    text-align: center;
    margin: 10px 0;
    flex: 1;
}

.header-nav nav ul li.logo h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    color: #252525;
}

.header-nav nav ul li.logo p {
    margin: 0;
    font-size: 12px;
    color: #252525;
    font-family: 'Noto Serif', serif;
}

.header-nav nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #252525;
}

.header-nav nav ul li a.active,
.header-nav nav ul li a:hover {
    color: #FF005C;
    text-decoration: underline;
}

.welcome-section {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-section h3 {
    font-size: 24px;
    color: #FF005C;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    margin: 20px 0;
}

.welcome-section p {
    font-size: 14px;
    color: #252525;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    background-color: #FF005C;
    color: black;
    border: none;
}

.register {
    background-color: transparent;
    color: #FF005C;
    border: 2px solid #FF005C;
}

/* Media queries cho thiết kế đáp ứng */
@media (max-width: 480px) {
    .header-nav nav ul li.logo h1 {
        font-size: 20px;
    }

    .header-nav nav ul li.logo p {
        font-size: 10px;
    }

    .header-nav nav ul li a {
        font-size: 12px;
    }

    .welcome-section h3 {
        font-size: 20px;
    }

    .welcome-section p {
        font-size: 12px;
    }

    .buttons button {
        font-size: 12px;
        width: 80px;
        height: 35px;
    }
}
